name: CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  test-build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: pip install -r requirements.txt
    - name: Run Tests
      run: pytest